$darkmode: False;
$transparent: False;
$background: #1a120d;
$onBackground: #f0dfd7;
$surface: #1a120d;
$surfaceDim: #1a120d;
$surfaceBright: #413732;
$surfaceContainerLowest: #140c09;
$surfaceContainerLow: #221a15;
$surfaceContainer: #271e19;
$surfaceContainerHigh: #322823;
$surfaceContainerHighest: #3d332e;
$onSurface: #f0dfd7;
$surfaceVariant: #52443c;
$onSurfaceVariant: #d7c2b9;
$inverseSurface: #f0dfd7;
$inverseOnSurface: #382e29;
$outline: #9f8d84;
$outlineVariant: #52443c;
$shadow: #000000;
$scrim: #000000;
$primary: #ffb68e;
$onPrimary: #532201;
$primaryContainer: #6f3714;
$onPrimaryContainer: #ffdbca;
$inversePrimary: #8c4e29;
$secondary: #e6beab;
$onSecondary: #432b1d;
$secondaryContainer: #5c4132;
$onSecondaryContainer: #ffdbca;
$tertiary: #cec991;
$onTertiary: #343208;
$tertiaryContainer: #4b481d;
$onTertiaryContainer: #eae5ab;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #ffdbca;
$primaryFixedDim: #ffb68e;
$onPrimaryFixed: #331200;
$onPrimaryFixedVariant: #6f3714;
$secondaryFixed: #ffdbca;
$secondaryFixedDim: #e6beab;
$onSecondaryFixed: #2b160a;
$onSecondaryFixedVariant: #5c4132;
$tertiaryFixed: #eae5ab;
$tertiaryFixedDim: #cec991;
$onTertiaryFixed: #1e1c00;
$onTertiaryFixedVariant: #4b481d;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0D1C20;
$term1: #8383FF;
$term2: #63DFD4;
$term3: #75FCDD;
$term4: #76B4BD;
$term5: #7AAEEA;
$term6: #81D8D7;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F6FFFD;
$term11: #FFFFFF;
$term12: #BEE3E5;
$term13: #C8DAFF;
$term14: #E5FFFE;
$term15: #ADEDF6;
